services:
    app:
        build: .

        ports:
            - "3000:3000"

        volumes:
              - .:/app
              - /app/node_modules

        environment:
              - NODE_ENV=development

        depends_on:
            - database

    database:
        image: mongo:7-jammy

        volumes:
            - mongo-data:/data/db

        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: example

volumes:
    mongo-data: